  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="innerbanner-text text-center">
        <p>About me</p>
      </div>
    </div>
  </div>
</section>
<section id="inner-description" class="section inner-description">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center"> <img src="images/designer-pic.jpg" alt="Bond">
      <h1>James Bond</h1>
      <p>Agent</p>
    </div>
    <div class="col-md-10 col-md-offset-1 space">
      <p>James Bond is a fictional character created by British author and film director Ian Fleming. He is frequently portrayed as an unrivalled spy, infamous womaniser, and manly idol. In the British Secret Intelligence Service, or MI6, he is also known as Agent 007 (pronounced "double-oh-seven").</p>
      <p>James Bond is a fictional character created by British author and film director Ian Fleming. He is frequently portrayed as an unrivalled spy, infamous womaniser, and manly idol. In the British Secret Intelligence Service, or MI6, he is also known as Agent 007 (pronounced "double-oh-seven").</p>
	  <p>James Bond is a fictional character created by British author and film director Ian Fleming. He is frequently portrayed as an unrivalled spy, infamous womaniser, and manly idol. In the British Secret Intelligence Service, or MI6, he is also known as Agent 007 (pronounced "double-oh-seven").</p>
	  <p>James Bond is a fictional character created by British author and film director Ian Fleming. He is frequently portrayed as an unrivalled spy, infamous womaniser, and manly idol. In the British Secret Intelligence Service, or MI6, he is also known as Agent 007 (pronounced "double-oh-seven").</p>
    </div>
  </div>
</section>
<section id="hireme" class="section hireme">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Need a specific agent?</h3>
      <p>You can count on me at all the times. I am also an experienced firearms specialiat. I own all the fastest Aston Martins out there.</p>
      <a href="https://www.007.com" class="btn btn-large">Hire 007</a> </div>
  </div>
</section>