  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="innerbanner-text text-center">
        <p>{{recentworks}}</p>
      </div>
    </div>
  </div>
<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-1.jpg" class="work-box"> <img src="images/work-1.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Project Name</h5>
            <p>Operation No Time To Die</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-2.jpg" class="work-box"> <img src="images/work-2.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Project Name</h5>
            <p>Operation Square</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-3.jpg" class="work-box"> <img src="images/work-3.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Project Name</h5>
            <p>Operation Space</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-4.jpg" class="work-box"> <img src="images/work-4.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Project Name</h5>
            <p>Operation Pin-Point</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-5.jpg" class="work-box"> <img src="images/work-5.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Project Name</h5>
            <p>Operation Milk</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-6.jpg" class="work-box"> <img src="images/work-6.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Project Name</h5>
            <p>Operation Nut</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-7.jpg" class="work-box"> <img src="images/work-7.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Project Name</h5>
            <p>Operation Secret</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-8.jpg" class="work-box"> <img src="images/work-8.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Project Name</h5>
            <p>Operation New Faze</p>
          </div>
        </div>
        </a> </div>
        <section id="inner-description" class="section inner-description"  style="background-color: white;">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center" > 
      <h1 style="text-align: left;">Operation No Time To Die</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align: justify;">
      <p>One of my favourite projects where i was surrounded by bullets and enemies, i was able to dodge all the bullets and was able to sucessfully deactivate the bomb.</p>
      
    </div>
  </div>

  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center" > 
      <h1 style="text-align: left;">Operation Square</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align: justify;">
      <p>A fight inside a submarine is always dangerous ,In this project i was able to defeat the russians that stole the submarine that contained a nuclear weapon that could destroy the entire USA.</p>
      
    </div>
  </div>

  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center" > 
      <h1 style="text-align: left;">Operation Space</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align: justify;">
      <p>Such a funny mission, finding out that the Japaneese making advanced spacecraft that captured the American and Russian Rockets and destroying theier entire base and rescuing the pilots was such a painfull task.</p>
      
    </div>
  </div>

<div class="container">
    <div class="col-md-10 col-md-offset-1 text-center" > 
      <h1 style="text-align: left;">Operation Pinpoint</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align: justify;">
      <p>I still remember the time when the USSR spy challenging me in a gunfight. Guess who died!</p>
      
    </div>
  </div>

  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center" > 
      <h1 style="text-align: left;">Operation Milk</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align: justify;">
      <p>The Mexican drug dealers always have an intelligent way of smuggling coke. I still remember the 9 milk containers that i destroyed which contained the coke.</p>
      
    </div>
  </div>

  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center" > 
      <h1 style="text-align: left;">Operation Nut</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align: justify;">
      <p>There are lot of ninjas in China too but no one can see me coming, I wasnt able to count the ninjas that was hospitalized.</p>
      
    </div>
  </div>

  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center" > 
      <h1 style="text-align: left;">Operation Secret</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align: justify;">
      <p>This was really a top secret mission so i cant really speak about it.</p>
      
    </div>
  </div>

<div class="container">
    <div class="col-md-10 col-md-offset-1 text-center" > 
      <h1 style="text-align: left;">Operation New Faze</h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="text-align: justify;">
      <p>Who ever tried to kill me only died. Same with this mission too.</p>
      
    </div>
  </div>
</section>
    </div>
  </div>
</section>